extends layout

block css
	link(href='/css/index.css',rel='stylesheet')
	link(href='/css/guest.css',rel='stylesheet')

block gate
	img(src='/img/cy2.jpg', style='width:1170px;height:630px')
	.comment
		시간은 흘러 다시 돌아오지 않으나, <br />  <br />  <br />  <br />  <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;추억은 남아 떠나가지 않는다.
		
block logo
	.item-list.logos
		a(href='https://www.facebook.com/travler.time.3')
			img(src='/img/facebook-logo.png',alt='facebook')
		a(href='https://twitter.com/TimeTravler1')
			img(src='/img/twitter-logo.png',alt='twitter')
		a(href='#')
			img(src='/img/google-logo.png',alt='google')