extends layout

block css
    link(href='/css/index.css',rel='stylesheet')

block js
    script(type='text/javascript',src='/js/index.js')
    script
        if (window.location.hash == '#_=_')
            window.location.hash = '';

block row2col1
    .item-list
        ul.unstyled.inline.text-center
        ul.unstyled.inline.text-center
        a.arrow-left
            img(src='/img/arrows-left.png',alt='arrows-left')
        a.arrow-right
            img(src='/img/arrows-right.png',alt='arrows-right')
block row2col1row1col1
    .item-list.logos
        a(href='#')
            img(src='/img/facebook-logo.png',alt='facebook')
        a(href='#')
            img(src='/img/twitter-logo.png',alt='twitter')
        a(href='#')
            img(src='/img/google-logo.png',alt='google')
        a
            form(action='/minigame', method='get')
                input(type='text', name='tId')
                input(type='submit')

block row2col2
    .bought
        ul.unstyled.text-center
        div.pagination.pagination-mini.pagination-centered
            ul