extends layout

block css
    link(href='/css/index.css',rel='stylesheet')

block js
    script(type='text/javascript',src='/js/index.js')

block row2col1
    .item-list
        ul.unstyled.inline
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini').pop
                #pop0(style='display:none') pop0<br/>test
                div(title='40%').progress.progress-striped.active
                    div.bar(style='width:40%;')
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini').pop
                #pop1(style='display:none') pop1<br/>test
                div(title='50%').progress.progress-striped.active
                    div.bar(style='width:50%;')
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini')
                div(title='60%').progress.progress-striped.active
                    div.bar(style='width:60%;')
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini')
                div(title='100%').progress.progress-striped.active
                    div.bar(style='width:100%;')
        ul.unstyled.inline
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini')
                div.progress.progress-striped.active
                    div.bar(style='width:10%;')
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini')
                div.progress.progress-striped.active
                    div.bar(style='width:30%;')
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini')
                div.progress.progress-striped.active
                    div.bar(style='width:20%;')
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini')
                div.progress.progress-striped.active
                    div.bar(style='width:90%;')
        a(href='#').arrow-left
            img(src='/img/arrows-left.png',alt='arrows-left')
        a(href='#').arrow-right
            img(src='/img/arrows-right.png',alt='arrows-right')
block row2col1row1col1
    .item-list.logos
        a(href='#')
            img(src='/img/facebook-logo.png',alt='facebook')
        a(href='#')
            img(src='/img/twitter-logo.png',alt='twitter')
        a(href='#')
            img(src='/img/google-logo.png',alt='google')

block row2col2
    ul.unstyled
        li
            | Lorem ipsum dolor sit amet
        li
            | Consectetur adipiscing elit
        li
            | Integer molestie lorem at massa
        li
            | Facilisis in pretium nisl aliquet
        li
            | Nulla volutpat aliquam velit
        li
            | Faucibus porta lacus fringilla vel
        li
            | Aenean sit amet erat nunc
        li
            | Eget porttitor lorem
    a#modal-192145.btn(href='#modal-container-192145',role='button',data-toggle='modal') Launch demo modal
    div#modal-container-192145.modal.hide.fade(role='dialog',aria-labelledby='myModalLabel',aria-hidden='true')
        div.modal-header
            button.close(type='button',data-dismiss='modal',aria-hidden='true') ×
            h3#myModalLabel
                | Modal header
        div.modal-body
            p
                | One fine body…
        div.modal-footer
            button.btn(data-dismiss='modal',aria-hidden='true') Close
            button.btn.btn-primary Save changes
    div.pagination.pagination-mini.pagination-centered
        ul
            li
                a(href='#') Prev
            li
                a(href='#') 1
            li
                a(href='#') 2
            li
                a(href='#') 3
            li
                a(href='#') 4
            li
                a(href='#') 5
            li
                a(href='#') Next