extends layout

block css
    link(href='/css/index.css',rel='stylesheet')

block js
    script(type='text/javascript',src='/js/index.js')

block row2col1
    .item-list
        ul.unstyled.inline.text-center
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini').pop
                #pop0(style='display:none') pop0&lt;br&gt;test
                div(title='40%').progress.progress-striped.active
                    div.bar(style='width:40%;')
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini').pop
                #pop1(style='display:none') pop1&lt;br&gt;test
                div(title='50%').progress.progress-striped.active
                    div.bar(style='width:50%;')
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini').pop
                #pop2(style='display:none') pop2&lt;br&gt;test
                div(title='60%').progress.progress-striped.active
                    div.bar(style='width:60%;')
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini')
                div(title='100%').progress.progress-striped.progress-success.active
                    div.bar(style='width:100%;')
                a.btn.btn-success(src='#') 찾기
        ul.unstyled.inline.text-center
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini')
                div.progress.progress-striped.active
                    div.bar(style='width:10%;')
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini')
                div.progress.progress-striped.active
                    div.bar(style='width:30%;')
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini')
                div.progress.progress-striped.active
                    div.bar(style='width:20%;')
            li
                img(src='/img/capsule-mini.png',alt='capsule-mini')
                div.progress.progress-striped.active
                    div.bar(style='width:90%;')
        a(href='#').arrow-left
            img(src='/img/arrows-left.png',alt='arrows-left')
        a(href='#').arrow-right
            img(src='/img/arrows-right.png',alt='arrows-right')
block row2col1row1col1
    .item-list.logos
        a(href='#')
            img(src='/img/facebook-logo.png',alt='facebook')
        a(href='#')
            img(src='/img/twitter-logo.png',alt='twitter')
        a(href='#')
            img(src='/img/google-logo.png',alt='google')

block row2col2
    ul.unstyled.text-center
        li
            img(src='/img/capsule-mini.png',alt='capsule-mini')
            div.bury
                a.btn.btn-mini(src='#') 묻기
    div.pagination.pagination-mini.pagination-centered
        ul
            li
                a(href='#') Prev
            li.active
                a(href='#') 1
            li
                a(href='#') 2
            li
                a(href='#') 3
            li
                a(href='#') 4
            li
                a(href='#') 5
            li
                a(href='#') Next