.item-list{
    position: relative;
}
.item-list ul{
    margin-top: 30px;
    margin-left: 100px;
}
.item-list ul li{
    margin-left: 45px;
    margin-bottom: 80px;
}
.arrow-right img{
    width: 60px;
    height: 60px;
}
.arrow-right{
    position: absolute;
    top: 40%;
    right: 0;
}
.arrow-left img{
    width: 60px;
    height: 60px;
}
.arrow-left{
    position: absolute;
    top: 40%;
    left: 0;
}
img~.progress{
    margin-top: 20px;
}
img[src*='logo']{
    width: 40px;
    height: 40px;
}
.logos a:first-child{
    position: relative;
    left: 45%;
}
.logos a:nth-child(2){
    position: absolute;
    left: 50%;
}
.logos a:nth-child(3){
    position: absolute;
    left: 55%;
}