.item-list{
    position: relative;
}
.item-list ul{
    margin-top: 30px;
    margin-left: 140px;
    display:inline-block;
}
.item-list ul li{
    margin-left: 45px;
    margin-bottom: 80px;
    float: left;
}
.text-center{
    text-align: center;
}
.vertical-line{
    float: left;
    height: 650px;
    border-left: 1px solid #F3F3F3;
}
.bought{
    border: 1px solid #E9E9E9;
}
.bought ul li{
    margin-bottom: 30px;
}
.bury{
    margin-top: 10px;
}
.arrow-right img{
    width: 80px;
    height: 80px;
}
.arrow-right{
    position: absolute;
    top: 40%;
    right: 0;
}
.arrow-left img{
    width: 80px;
    height: 80px;
}
.arrow-left{
    position: absolute;
    top: 40%;
    left: 0;
}
img~.progress{
    margin-top: 20px;
}
img[src*='logo']{
    width: 60px;
    height: 60px;
}
.logos a:first-child{
    position: relative;
    left: 45%;
}
.logos a:nth-child(2){
    position: absolute;
    left: 50%;
}
.logos a:nth-child(3){
    position: absolute;
    left: 55%;
}
div[data-original-title='100%']{
    margin-bottom: 10px;
}