<!doctype html>
<html lang ="ko">
<head>
	<meta charset="UTF-8">
	<title>hehe~</title>
	<style type="text/css">
	

	</style>
	<script src="modernizr-1.6.min.js"></script>
	<script src="temp.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript">

</script>
</head>
<body> 
	<div style="position:absolute; top:24%; left:24%; margin-top:-120px; width:1000px; height:700px">
		<canvas id="canvas" width="1000" height="600">
			Your browser does not support HTML5 Canvas.
		</canvas>
		<form onsubmit="return false;">
			<input type="text" class="aa" id="textBox" name="player-name" placeholder="글을 입력하시오.">
			<img src="wwww.png" id="bb" class="cc">
		</form>
	</div>
</body>
</html>
