extends layout

block gameContents
	div(style='position:absolute; top:24%; left:24%; margin-top:-120px; width:1000px; height:700px')
		canvas(width='1000',height='600')#canvas	Your browser does not support HTML5 Canvas.
		form(onsubmit='return false;')
			input(type='text',name='player-name', placeholder='글을 입력하시오.').aa#textBox
			img(src='/img/wwww.png')#bb.cc


